@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar::-webkit-scrollbar {
  width: 0.2rem;
}
.scroll-bar::-webkit-scrollbar-thumb {
  width: 0.1rem;
  background-color: #ffffff39;
  border-radius: 1rem;
}
